body {
    background: #30a880;
    color: #0b3742;
  }
  
  .JS-logo {
    background: #f1c40f;
    padding: 0px 10px;
    color: #2c3e50;
    font-weight: bold;
    border-radius: 2px;
  }